# vim: ft=toml

[user]
  name = elianiva
  email = dicha.arkana03@gmail.com
	signingkey = BFA1552CA9680245

[credential]
  helper = cache --timeout 86400

[core]
  compression = 9
  editor = nvim
  pager = delta

[pull]
  rebase = false

[commit]
  sign = true

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[delta]
  line-numbers = true
  syntax-theme = base16
  side-by-side = false
  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only

[init]
  defaultBranch = master

[gpg]
	program = gpg
