/** Configured For Applets **/

configuration {
  show-icons:   true;
  icon-theme:   "Numix";
  location:     0;
  lines:        8;
  matching:     "fuzzy";
  width:        30;
  fullscreen:   true;
}
