#entry {
  border-radius: 5px;
  padding: 5px 2px 5px 2px;
  margin: 0px 4px 0px 4px;
}

#entry:selected {
  color: #84a0c6;
  background-color: #36384A;
  padding: 7px;
}

#text:selected {
  color: #84a0c6;
}

#window {
  background-color: transparent;
  font-family: "JetBrains Mono", monospace;
}

#input {
  color: #c6c8d1;
  border: none;
  background-color: #36384A;
  border-radius: 5px;
  margin: 4px 4px 8px 4px;
  border-color: #c6c8d1;
}

#inner-box {
  color: #c6c8d1;
  border-radius: 5px;
  /* margin-right: 180px; */
}

#outer-box {
  background-color: #161821;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 6px 1px  #0F0F0F;
  margin: 25px;
}

#text {
  color: #c6c8d1;
  background-color: transparent;
}

#img {
  background-color: transparent;
}

