@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container::before {
  content: "";
  display: block;
  position: fixed;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
  background-image: url(./ryuko.jpg);
  background-size: cover;
  filter: brightness(0.6) blur(0.25rem);
  z-index: -1;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
  margin: 4rem 0 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}

.category {
  font-family: "Iosevka", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4rem 1fr;
  gap: 1rem;
  row-gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.category__input {
  grid-column: 2/4;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1rem);
  border: none;
  display: block;
  border-radius: 0.5rem;
  color: #efefef;
  outline: none;
  font-family: "Iosevka", monospace;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  border: 0.25rem rgba(0, 0, 0, 0.4) solid;
}

.category__item {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2rem);
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  border: 0.25rem rgba(0, 0, 0, 0.4) solid;
}

.category__title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #efefef;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.category__title::before {
  content: "└ ";
}

.category__link {
  color: #eaeaea;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.95rem;
  display: block;
  transition: all ease-out 0.1s;
  padding-left: 2rem;
  border-radius: 0.25rem;
}

.category__link:focus,
.category__link:hover {
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.category__link:focus::before,
.category__link:hover::before,
.category__link:hover:last-child::before,
.category__link:focus:last-child::before {
  content: "";
  padding-right: 0.75rem;
}

.category__link::before {
  content: "├─ ";
}

.category__link:last-child::before {
  content: "└─ ";
}

.blue {
  color: #1873eb;
}

.green {
  color: #18eb83;
}

.orange {
  color: #f54300;
}

.purple {
  color: #8351e6;
}

.red {
  color: #e34133;
}

.aqua {
  color: #1c9cea;
}
