{
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "svelteSortOrder": "styles-markup-scripts",
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": false,
  "printWidth": 80
}
