{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "svelteSortOrder": "options-styles-markup-scripts",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"]
}
