window#waybar {
  background-color: #161821;
  color: #c6c8d1;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13.5;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px;
}

#workspaces button {
  color: #c6c8d1;
  padding: 0 8px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #36384a;
  border: 1px #36384a solid;
  color: #84a0c6;
}

#workspaces button.focused {
  color: #84a0c6;
  border-bottom: 1px #84a0c6 solid;
}

#workspaces button.persistent {
  color: #36384a;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#custom-menu,
#battery {
  background-color: #2b2d3b;
  padding: 0 10px;
  margin-right: 4px;
}

#custom-menu {
  color: #d35d6e;
  border-bottom: 1px #d35d6e solid;
}

#pulseaudio {
  border-bottom: 1px #a093c7 solid;
}

#temperature {
  border-bottom: 1px #e2a478 solid;
}

#cpu {
  border-bottom: 1px #84a0c6 solid;
}

#memory {
  border-bottom: 1px #d35d6e solid;
}

#battery {
  border-bottom: 1px #b4be82 solid;
}

#network {
  border-bottom: 1px #84a0c6 solid;
}

