#entry {
  border-radius: 5px;
  padding: 5px 2px 5px 2px;
  margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
  color: #82aaff;
  background-color: #292d3e;
  padding: 7px;
}

#text:selected {
  color: #82aaff;
}

#window {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-color: transparent;
  font-family: "JetBrains Mono";
  /* font-size:14; */
}

#input {
  color: #A6ACCD;
  border: none;
  background-color: #292d3e;
  border-radius: 5px;
  margin: 4px 4px 8px 4px;
  border-color: #A6ACCD;
}

#inner-box {
  color: #A6ACCD;
  border-radius: 5px;
  /* margin-right: 180px; */
}

#outer-box {
  background-color: #202331;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 6px 1px  #0F0F0F;
  margin: 25px;
}

#text {
  color: #A6ACCD;
  background-color: transparent;
}

#img {
  background-color: transparent;
}

