layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                // rose pine
                // color_fg      "#e0def4"
                // color_fg_alt  "#6e6a86"
                // color_bg      "#191724"
                // color_bg_alt  "#26233a"
                // color_black   "#26233a"
                // color_red     "#eb6f92"
                // color_green   "#31748f"
                // color_yellow  "#f6c177"
                // color_blue    "#9ccfd8"
                // color_magenta "#c4a7e7"
                // color_cyan    "#ebbcba"
                // color_white   "#e0def4"
                // color_orange  "#f6c177"

                // rose pine dawn
                color_bg      "#faf4ed"
                color_bg_alt  "#f2e9e1"
                color_fg      "#575279"
                color_fg_alt  "#c3bec1"
                color_black   "#575279"
                color_red     "#eb6f92"
                color_green   "#31748f"
                color_yellow  "#f6c177"
                color_blue    "#9ccfd8"
                color_magenta "#c4a7e7"
                color_cyan    "#ebbcba"
                color_white   "#e0def4"
                color_orange  "#f6c177"

                datetime        "#[fg=$fg_alt] {format} "
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Jakarta"

                format_left   "{mode}"
                format_center "#[bg=$bg]{tabs}"
                format_right  "{datetime}#[fg=$fg_alt]@ {session}"
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[fg=$green,bold]  NORMAL "
                mode_locked        "#[fg=$red,bold]  LOCKED "
                mode_resize        "#[fg=$blue,bold] 󰆏 RESIZE "
                mode_pane          "#[fg=$blue,bold] 󰏫 PANE "
                mode_tab           "#[fg=$yellow,bold] 󰓩 TAB "
                mode_scroll        "#[fg=$blue,bold] 󰇙 SCROLL "
                mode_enter_search  "#[fg=$orange,bold] 󰥻 ENT-SEARCH "
                mode_search        "#[fg=$orange,bold] 󰥻 SEARCH "
                mode_rename_tab    "#[fg=$yellow,bold] 󰏬 RENAME-TAB "
                mode_rename_pane   "#[fg=$blue,bold] 󰏬 RENAME-PANE "
                mode_session       "#[fg=$blue,bold] 󰆍 SESSION "
                mode_move          "#[fg=$blue,bold] 󰁔 MOVE "
                mode_prompt        "#[fg=$blue,bold] 󰘳 PROMPT "
                mode_tmux          "#[fg=$magenta,bold]  TMUX "

                tab_normal                 "#[fg=$fg_alt] {index}:{name} {floating_indicator}"
                tab_normal_fullscreen      "#[fg=$fg_alt] {index}:{name} {fullscreen_indicator}"
                tab_normal_sync            "#[fg=$fg_alt] {index}:{name} {sync_indicator}"

                tab_active                 "#[fg=$red,bold] {index}:{name} {floating_indicator}"
                tab_active_fullscreen      "#[fg=$red,bold] {index}:{name} {fullscreen_indicator}"
                tab_active_sync            "#[fg=$red,bold] {index}:{name} {sync_indicator}"

                // separator between the tabs
                tab_separator           "#[bg=$bg,fg=$fg_alt]|"

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
    }
}
