layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                // vscode theme
                // color_fg      "#d4d4d4"
                // color_fg_alt  "#373737"
                // color_bg      "#1e1e1e"
                // color_bg_alt  "#272727"
                // color_black   "#000000"
                // color_red     "#f44747"
                // color_green   "#608b4e"
                // color_yellow  "#d7ba7d"
                // color_blue    "#569cd6"
                // color_magenta "#c586c0"
                // color_cyan    "#4ec9b0"
                // color_white   "#d4d4d4"
                // color_orange  "#ce9178"

                // rose pine
                color_fg      "#e0def4"
                color_fg_alt  "#6e6a86"
                color_bg      "#191724"
                color_bg_alt  "#26233a"
                color_black   "#26233a"
                color_red     "#eb6f92"
                color_green   "#31748f"
                color_yellow  "#f6c177"
                color_blue    "#9ccfd8"
                color_magenta "#c4a7e7"
                color_cyan    "#ebbcba"
                color_white   "#e0def4"
                color_orange  "#f6c177"

                // datetime indicator
                datetime        "#[fg=$fg_alt] {format} "
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Jakarta"

                format_left   "{mode}#[bg=$bg] {tabs}"
                format_center "#[bg=$bg,fg=$fg_alt]  Zellij: #[bg=$bg,fg=$fg_alt]{session}"
                format_right  "{datetime}"
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$green,fg=$bg,bold] NORMAL#[bg=$green,fg=$green] "
                mode_locked        "#[bg=$red,fg=$bg,bold] LOCKED #[bg=$red,fg=$red] "
                mode_resize        "#[bg=$blue,fg=$bg,bold] RESIZE#[bg=$blue,fg=$blue] "
                mode_pane          "#[bg=$blue,fg=$bg,bold] PANE#[bg=$blue,fg=$blue] "
                mode_tab           "#[bg=$yellow,fg=$bg,bold] TAB#[bg=$yellow,fg=$yellow] "
                mode_scroll        "#[bg=$blue,fg=$bg,bold] SCROLL#[bg=$blue,fg=$blue] "
                mode_enter_search  "#[bg=$orange,fg=$bg,bold] ENT-SEARCH#[bg=$orange,fg=$orange] "
                mode_search        "#[bg=$orange,fg=$bg,bold] SEARCHARCH#[bg=$orange,fg=$orange] "
                mode_rename_tab    "#[bg=$yellow,fg=$bg,bold] RENAME-TAB#[bg=$yellow,fg=$yellow] "
                mode_rename_pane   "#[bg=$blue,fg=$bg,bold] RENAME-PANE#[bg=$blue,fg=$blue] "
                mode_session       "#[bg=$blue,fg=$bg,bold] SESSION#[bg=$blue,fg=$blue] "
                mode_move          "#[bg=$blue,fg=$bg,bold] MOVE#[bg=$blue,fg=$blue] "
                mode_prompt        "#[bg=$blue,fg=$bg,bold] PROMPT#[bg=$blue,fg=$blue] "
                mode_tmux          "#[bg=$magenta,fg=$bg,bold] TMUX#[bg=$magenta,fg=$magenta] "

                // formatting for inactive tabs
                tab_normal              "#[bg=$fg_alt,fg=$cyan] #[bg=$fg_alt,fg=$fg,bold]{index} #[bg=$bg_alt,fg=$fg,bold] {name}{floating_indicator}#[bg=$bg_alt,fg=$bg,bold] "
                tab_normal_fullscreen   "#[bg=$fg_alt,fg=$cyan] #[bg=$fg_alt,fg=$fg,bold]{index} #[bg=$bg_alt,fg=$fg,bold] {name}{fullscreen_indicator}#[bg=$bg_alt,fg=$bg,bold] "
                tab_normal_sync         "#[bg=$fg_alt,fg=$cyan] #[bg=$fg_alt,fg=$fg,bold]{index} #[bg=$bg_alt,fg=$fg,bold] {name}{sync_indicator}#[bg=$bg_alt,fg=$bg,bold] "

                // formatting for the current active tab
                tab_active              "#[bg=$yellow,fg=$yellow] #[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg_alt,fg=$yellow,bold] {name}{floating_indicator}#[bg=$bg_alt,fg=$bg,bold] "
                tab_active_fullscreen   "#[bg=$yellow,fg=$yellow] #[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg_alt,fg=$yellow,bold] {name}{fullscreen_indicator}#[bg=$bg_alt,fg=$bg,bold] "
                tab_active_sync         "#[bg=$yellow,fg=$yellow] #[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg_alt,fg=$yellow,bold] {name}{sync_indicator}#[bg=$bg_alt,fg=$bg,bold] "

                // separator between the tabs
                tab_separator           "#[bg=$bg] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
    }
}
