window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  font-family: "Inter", "M+ 1p", sans-serif;
  font-size: 13.5;
  min-height: 0;
}

#workspaces button {
  color: #ebdbb2;
  padding: 0.25rem 0.5rem;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #504945;
  border: 1px #504945 solid;
}

#workspaces button.focused {
  color: #d79921;
}

#workspaces button.persistent {
  color: #928374;
}

#custom-playerctl.playerctl {
  color: #ebdbb2;
  margin-left: 0.25rem;
}

#custom-playerctl.playerctl.playerctl-icon {
  color: #d79921;
}

#pulseaudio, #network, #cpu, #memory, #temperature, #battery, #clock {
  padding: 0.25rem 0.5rem;
}
