! scheme: "gruvbox"
! author: "Morhetz (https://github.com/morhetz)"
*background: #282828
*foreground: #ebdbb2
*color0:  #282828
*color8:  #928374
*color1:  #cc241d
*color9:  #fb4934
*color2:  #98971a
*color10: #b8bb26
*color3:  #d79921
*color11: #fabd2f
*color4:  #458588
*color12: #83a598
*color5:  #b16286
*color13: #d3869b
*color6:  #689d6a
*color14: #8ec07c
*color7:  #ebdbb2
*color15: #ebdbb2

! scheme: "codedark"
! author: "Tomas Iser (https://github.com/tomasiser)"
/* *.foreground:   #D4D4D4 */
/* *.background:   #1E1E1E */
/* *.cursorColor:  #D4D4D4 */
/* *.color0:       #1E1E1E */
/* *.color1:       #D16969 */
/* *.color2:       #608B4E */
/* *.color3:       #D7BA7D */
/* *.color4:       #9CDCFE */
/* *.color5:       #C586C0 */
/* *.color6:       #9CDCFE */
/* *.color7:       #D4D4D4 */
/* *.color8:       #3C3C3C */
/* *.color9:       #D16969 */
/* *.color10:      #608B4E */
/* *.color11:      #D7BA7D */
/* *.color12:      #569CD6 */
/* *.color13:      #C586C0 */
/* *.color14:      #9CDCFE */
/* *.color15:      #FFFFFF */

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------
Xft.autohint:   1
Xft.hinting:    1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  slight
Xft.antialias:  1
Xft.rgba:       rgb
Xcursor.theme:  Breeze
! vim: foldmethod=marker
